<tr bgcolor="#F0F1F6" height="15"><td colspan="3">
    <table cellspacing="0" cellpadding="0" border="0">
        <form method="post" name="formulaire" action="meetings.php?actions=results&amp;form_order=" onsubmit="post.disabled=true;"><tbody><tr><td align="center" class="small"><b>sexe</b></td><td align="center" class="small"><b>ville</b></td><td></td><td align="center" class="small"><b>ages</b></td></tr><tr><td valign="top">
                    
                    <%=select_tag :form_sexe, options_for_select([['Hommes', 'm'], ['Femmes','']], local_assigns[:form_sexe]), {include_blank: "Les deux"}%>
                    &nbsp;</td><td width="80%" align="center" valign="top">
<input type="text" name="form_ville" value="<%=local_assigns[:form_ville]%>" size="25" style="width: 95%"></td><td>&nbsp;</td>
                <td valign="top" nowrap="">
<input type="text" name="form_agemin" value="<%=local_assigns[:form_agemin]%>" size="3"> à 
<input type="text" name="form_agemax" value="<%=local_assigns[:form_agemax]%>" size="3"> ans</td><td valign="top">&nbsp;
<input type="submit" name="post" value="Rechercher"></td></tr><tr><td colspan="4" class="small">
<input type="hidden" name="form_bahut" value="0"><a href="school_select.php?form_do=%2Fmeetings.php%3F<%=@params1.to_query%>&amp;HTTP_REFERER=%2Fmeetings.php%3F<%=@params1.to_query%>&amp;" onclick="window.open('school_select.php?form_do=%2Fmeetings.php%3F<%=@params1.to_query%>&amp;HTTP_REFERER=%2Fmeetings.php%3F<%=@params1.to_query%>&amp;','_blank','width=795,height=480,scrollbars=1,toolbar=1,titlebar=0,status=0,resizable=1');return(false);" target="_blank">Cliquez ici pour choisir un bahut.</a></td><td class="small">
                    
                    
                <%=select_tag :form_couple, options_for_select([["Réservé aux ultramembres", "", {style: "background: #CC0000;color: #FFFFFF;"}], ['Célibataires', 'celibataire'], ["Ont déjà un copain(ine)", "couple"], ["Mariés/Pacsés", "marie"]], local_assigns[:form_couple]), {include_blank: "Aucune importance"}%>
                
                
                </td></tr></tbody>
            </form>
    </table>
            </td></tr>
