<%@color=cycle('#F0F1F6','#FFFFFF')%>  

<tr bgcolor="<%=@color%>"><td><h2><%=cycle(*no, name: "numbers5") -%>.&nbsp; <a href="/lire-<%=article.title.parameterize%>-<%=article.id%>.htm"><%=article.title%></a></h2></td><td>11 068 lecture(s)</td><td>9,99/10 (7 vote(s))</td>
                                </tr>
                                <tr bgcolor="<%=@color%>"><td colspan="3" class="small"><i><%=article.subtitle%></i></td>
                                </tr>
