                                            <div class="box" style="text-align: left; width: 260px; height: 180px; overflow: auto; float: left;">
                                <div class="boxTitle"><%=article.category.name%></div><a href="lire-<%=article.title.parameterize%>-<%=article.id%>.htm"><center><img src="aimgs/<%=article.id%>-1-desc.img" class="articlesdesc2"></center><h2 align="justify"><%=article.title%></h2><h4 align="justify"><%=article.subtitle%></h4></a></a></div>

