 

<tr bgcolor="<%=cycle('#F0F1F6','#FFFFFF')%> "><td><div class="margin"><a href="lire-<%=article.title.parameterize%>-<%=article.id%>.htm"><h2><%=article.title%></h2><h4><img src="aimgs/28042-1-desc.img" align="left" class="articlesdesc"><%=article.subtitle%></h4></a><i>Par <a href="view.php?tid=<%=article.member.id%>&HTTP_REFERER=%2Frubrique-le-monde-3.htm&" onClick="window.open('view.php?tid=<%=article.member.id%>&HTTP_REFERER=%2Frubrique-<%=article.category.url%>.htm&', '_blank', 'width=795,height=480,scrollbars=1,toolbar=1,titlebar=0,status=0,resizable=1'); return(false);" target="_blank"><b><%=article.member.fullname%></b></a></i><br>. <a href="<%=article.url%>"><b>Lire l'article</b></a></div></td></tr>

<tr><td colspan="1" style="padding: 0px;"><table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr><td bgcolor="#373C4F"><img src="images/invisible.gif" width="1" height="1"></td></tr></table></td></tr>
