  <tr height="15" bgcolor="<%=cycle('#FFFFFF','#F0F1F6')%>"><td><div class="margin"><a href="<%=article.url%>"><h2><%=article.title%></h2><h4>
                      
                      
                      
                      
                      <img src="<%=article.image%>" align="left" class="articlesdesc">
                      
                      
                      
                      <%=article.subtitle%></h4></a><i>Rubrique <b><a href="<%=article.category.url%>"><%=article.category.name%></a></b><br>&gt; <a href="<%=article.url%>">Lire l'article</a></i></div></td>
             </tr>
