<%@color = cycle('#F0F1F6','#FFFFFF') -%>       

<tr height="15" bgcolor="<%=@color%>"><td width="0" rowspan="3"><a href="imgs_shop/31.img" target="_blank"><img src="/imgs_shop/31_mini.img" border="0" class="articles"></a></td><td class="titre1"><b><%=product.name%></b></td><td nowrap=""><b><%=product.price%> €</b></td><td><%=product.dispo%></td></tr>
        <tr bgcolor="<%=@color%>"><td colspan="4"></td></tr>

