<tr bgcolor="<%=cycle('#FFFFFF','#F0F1F6') -%>"><td><a href="paroles.php?artiste=<%=song.artistname.gsub(' ','+')%>"><%=song.artistname%></a></td><td><a href="paroles-<%=song.artistname.parameterize(separator:".")%>-<%=song.songtitle.parameterize(separator:".")%>-<%=song.songid%>.htm"><b><%=song.songtitle%></b></a></td><td></td><td nowrap=""><%=song.vuesongs.length%> aff.</td></tr>
