
            </table>
            <table width="100%" cellspacing="10" cellpadding="0" border="0">
                <tr><td valign="top"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="140" height="1"></td></tr><tr><td bgcolor="#F0F6F0"><div style="line-height: 15px;" class="margin">. <a href="publish_wizard.php" class="ml"><b><u>Ecrire un article</u></b></a><br><div align="right" class="ml"><a href="shop.php" title="Voir la liste des cadeaux disponibles">et gagner un cadeau</a></div></div></td></tr><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="1" height="1"></td></tr></table><img src="images/invisible.gif" width="1" height="5"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="140" height="1"></td></tr><tr><td bgcolor="#F0F6F0"><div style="line-height: 15px;" class="margin">. <a href="rubrique-amour-1.htm" class="ml">Amour</a><br>. <a href="rubrique-bd-livres-7.htm" class="ml">BD &amp; Livres</a><br>. <a href="rubrique-bons-plans-14.htm" class="ml">Bons Plans</a><br>. <a href="rubrique-cinema-5.htm" class="ml">Cin&eacute;ma</a><br>. <a href="rubrique-humour-13.htm" class="ml">Humour</a><br>. <a href="rubrique-insolite-17.htm" class="ml">Insolite</a><br>. <a href="rubrique-interviews-18.htm" class="ml">Interviews</a><br>. <a href="rubrique-jeux-de-roles-23.htm" class="ml">Jeux de R&ocirc;les</a><br>. <a href="rubrique-jeux-video-11.htm" class="ml">Jeux Vid&eacute;o</a><br>. <a href="rubrique-komenfeton-15.htm" class="ml">KomenF&eacute;ton</a><br>. <a href="rubrique-le-monde-3.htm" class="ml">Le Monde</a><br>. <a href="rubrique-mode-beaute-16.htm" class="ml">Mode &amp; Beaut&eacute;</a><br>. <a href="rubrique-multimedia-10.htm" class="ml">Multim&eacute;dia</a><br>. <a href="rubrique-musique-6.htm" class="ml">Musique</a><br>. <a href="rubrique-paranormal-25.htm" class="ml">Paranormal</a><br>. <a href="rubrique-people-4.htm" class="ml">People</a><br>. <a href="rubrique-sciences-8.htm" class="ml">Sciences</a><br>. <a href="rubrique-sports-9.htm" class="ml">Sports</a><br>. <a href="rubrique-television-20.htm" class="ml">T&eacute;l&eacute;vision</a><br>. <a href="rubrique-vie-du-jeune-12.htm" class="ml">Vie du Jeune</a><br>. <a href="rubrique-vos-histoires-24.htm" class="ml">Vos Histoires</a><br>. <a href="rubrique-webmasters-19.htm" class="ml">Webmasters</a><br></div></td></tr><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="1" height="1"></td></tr></table><img src="images/invisible.gif" width="1" height="5"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="140" height="1"></td></tr><tr><td bgcolor="#F0F6F0"><div style="line-height: 15px;" class="margin">. <a href="guiness.php" class="ml">Records</a><br></div></td></tr><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="1" height="1"></td></tr></table><img src="images/invisible.gif" width="1" height="5"><table width="100%" cellspacing="0" cellpadding="0" border="0"><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="140" height="1"></td></tr><tr><td bgcolor="#F0F6F0"><div style="line-height: 15px;" class="margin"><center><div id='div-gpt-ad-1511099733345-2'></div></center></div></td></tr><tr><td bgcolor="#407340"><img src="images/invisible.gif" width="1" height="1"></td></tr></table><img src="images/invisible.gif" width="1" height="5"></td><td width="100%" valign="top"><div align="justify"><table cellspacing="0" cellpadding="0" border="0"><tr><td valign="top" width="100%"><div class="box" style="margin-bottom: 2px;"><div class="boxTitle">articles du jour</div>


                                            <table cellspacing="0" cellpadding="2" border="0" width="100%">



<%=render @articles%>                                




                                            </table>




                                        </div></td><td valign="top"><div class="box" style="text-align: left; width: 260px; height: 180px; overflow: auto; float: left;"><div class="boxTitle">attention succ&egrave;s (0,00/jour)</div><a href="lire-.htm"><center></center><h2 align="justify"></h2><h4 align="justify"></h4></a></a></div></td></tr></table><div id="inner_ad"></div><div class="box"><div class="boxTitle">derniers forums</div><table cellspacing="0" cellpadding="2" border="0" width="100%">



<%=render @forums%>                            


                                </table></div><center><table cellspacing="0" cellpadding="0" border="0"><tr><td>




<%=render partial: "articles/articlebycat", collection: @articlesbycat, as: :article%>                                        


                                        </td></tr></table></center><div class="box"><div class="boxTitle">statistiques</div><table cellspacing="0" cellpadding="2" border="0" width="100%"><tr bgcolor="#F0F1F6"><td><b><%=Article.totalaffiche%> articles affich&eacute;s</b> sur un total de <b><%=Article.totalsoumis%> soumis</b></td></td></tr><tr bgcolor="#FFFFFF"><td><b><%=Forum.nbmessagesforums%> messages dans les forums</b> sur <b><%=Forum.nbmessagespostes%> post&eacute;s</b></td></tr><tr bgcolor="#F0F1F6"><td><b>33 486 membres actifs</b> sur <b>184 507 inscrits</b></td></tr></table></div></div></td><td valign="top">

                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
                            <tr><td bgcolor="#EAEAC2" align="center"><div class="margin">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
                                            <tr><td class="small"><a href="/" class="mr"><img src="images/articles.gif" border="0"><br>articles</a></td><td class="small"><a href="discut.php" class="mr"><img src="images/forums.gif" border="0"><br>forums</a></td><td class="small"><a href="members.php" style="line-height: 8px;" class="mr"><img src="images/membres.gif" border="0"><br>espace<br>membres</a></td></tr>
                                        </table>
                                    </div></td></tr>
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
                        </table>
                        <img src="images/invisible.gif" width="1" height="10">

                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
                            <tr><td bgcolor="#EAEAC2" align="center"><div class="margin">
                                        <table width="100%" cellspacing="0" cellpadding="0" border="0" style="text-align: center;">
                                            <tr><td valign="top" class="small"><a href="paroles.php" class="mr"><img src="images/paroles.gif" border="0"><br>paroles</a></td><td valign="top" class="small"><a href="imgserv.php" class="mr"><img src="images/images.gif" border="0"><br>images</a></td><td valign="top" class="small"><a href="meetings.php" class="mr"><img src="images/rencontres.gif" border="0"><br>rencontres</a></td></tr>
                                        </table>
                                    </div></td></tr>
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
                        </table>
                        <img src="images/invisible.gif" width="1" height="10">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
                            <tr><td bgcolor="#EAEAC2"><div class="margin">
                                        . <a href="ultra.php" onClick="window.open('ultra.php', '_blank', 'width=770,height=480,scrollbars=1,toolbar=0,titlebar=0,status=0,resizable=1');
                                            document.location.href = 'ultrazone.php';
                                            return(false);" target="_blank" class="mr" style="font-size: 12px; font-weight: bold;">Devenir ultramembre</a><br>
                                        . <a href="help.php" class="mr">Aide en ligne (FAQ)</a><br>
                                        . <a href="link.php" class="mr">Faire un lien vers le site</a><br>
                                        . <a href="annonceurs.php" class="mr">Annoncez sur france-jeunes</a><br>
                                        . <a href="contact.php" class="mr">Contacts</a><br>
                                    </div></td></tr>
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
                        </table>
                        <img src="images/invisible.gif" width="1" height="10">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
                            <form method="post" action="lettre.php" onsubmit="post.disabled = true;">
                                <tr><td bgcolor="#EAEAC2" class="mr"><div class="margin">
                                            <b>Recevoir la lettre d'information :</b><br><center>
                                                <input type="text" name="form_email" value="Indiquez votre e-mail" onFocus="javascript:if (this.value == 'Indiquez votre e-mail')
                                                      this.value = '';" size="20" style="width: 160px;"> <input type="submit" name="post" value="OK">
                                            </center></div></td></tr>
                            </form>
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
                        </table><img src="images/invisible.gif" width="1" height="10">
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="220" height="1"></td></tr>
                            <tr><td bgcolor="#EAEAC2" class="mr"><div class="margin"><b>Connect&eacute;s :</b><br>&nbsp;&nbsp;&nbsp;&nbsp;<b>0</b> <a href="connectes.php" class="mr"><u>membres</u></a> et <b>205</b> visiteurs</div></td></tr>
                            <tr><td bgcolor="#63632A"><img src="images/invisible.gif" width="1" height="1"></td></tr>
                        </table>
                        <img src="images/invisible.gif" width="1" height="5"><br />
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffrance.jeunes%2F&tabs&width=220&height=200&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=119174524765571" width="220" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </td></tr>
            </table>

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tr><td bgcolor="#000000"><img src="images/invisible.gif" width="760" height="1"></td></tr>
                <tr><td><table cellspacing="0" cellpadding="3" border="0" width="100%"><tr><td width="100%" valign="top"><a href="go.php?tid=127" target="_blank">tubededentifrice.com</a>, <a href="partenaires.php">...</a></td><td align="right" valign="top" NOWRAP><i>&nbsp;&nbsp;&nbsp;&nbsp;<b>CNIL: 752143.</b></i>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/?form_large_screen=1" style="text-decoration: none;">&nbsp;|]&nbsp;</a><a href="/?form_font_size=12" style="text-decoration: none;">&nbsp;&#9650;&nbsp;</a></td></tr></table></td></tr>
            </table>
        </td><td bgcolor="#E1EEE1" background="images/ombre.gif"><img src="images/invisible.gif" width="9" height="1" border="0"></td><td bgcolor="#E1EEE1" background="images/quadri.gif" width="100%"></td></tr>
</table>
<ins data-revive-zoneid="12" data-revive-id="19457f340be8d054289faaacff241635"></ins>