<!DOCTYPE html>
<!-- saved from url=(0086)/acte/creditcard/purchase.apu?ids=17701&idd=135967&lang=en -->
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!--  GTM DATALAYER   -->

        
        
        
        <script type="text/javascript" async="" src="/acte/creditcard/Mobiyo - Secure Payment_files/analytics.js"></script><script async="" src="/acte/creditcard/Mobiyo - Secure Payment_files/gtm.js"></script><script>dataLayer=[{
                            'varSrc' : 'ALS-RESSOURCES-LAYOUT-8'                     }];
        </script>
        <!--  END GTM DATALAYER  -->
        <!-- Google Tag Manager-->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-NHFGDSD');
        </script>
        <!-- End Google Tag Manager -->
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Bootstrap -->
        <link href="/acte/creditcard/Mobiyo - Secure Payment_files/bootstrap.min.css" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="/static/favicon_mobiyo.ico">

        <script type="text/javascript" src="/acte/creditcard/Mobiyo - Secure Payment_files/jquery-1.11.3.min.js"></script>

                <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/normalize.css">
    <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/style.css">
    <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/lang-picker.css">

    <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/select2.css">
    <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/custom-select2.css">
    <link rel="stylesheet" href="/acte/creditcard/Mobiyo - Secure Payment_files/cb-style.css">

                        <script type="text/javascript" src="/acte/creditcard/Mobiyo - Secure Payment_files/lang-picker.js"></script>
    
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/select2.min.js"></script>
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/bootstrap-tooltip.js"></script>
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/bootstrap-popover.js"></script>
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/paywill.js"></script>
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/cb-script.js"></script>

        <title>Mobiyo - Secure Payment</title>
    <script src="/acte/creditcard/Mobiyo - Secure Payment_files/sdkjs.js"></script><script src="/acte/creditcard/Mobiyo - Secure Payment_files/wdp.js"></script><script language="javascript" type="text/javascript" src="/acte/creditcard/Mobiyo - Secure Payment_files/logo.js"></script><audio id="io_67f84468-5d35-41ea-945f-b0efd4e01d13" src="https://mpsnare.iesnare.com/time.mp3?nocache=0.4468700998983701" preload="metadata" onloadedmetadata="HiPayIOBBconfig.io.handleATRIPResponse(&#39;io_67f84468-5d35-41ea-945f-b0efd4e01d13&#39;,false)"></audio><audio id="io_ee746445-19b1-4818-9781-cc525c47b6de" src="data:audio/mpeg;base64,/+NIZAAAAAAAAAAAAAAAAAAAAAAAWGluZwAAAA8AAAAAAAACQABAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQECAgICAgICAgICAgICAgICAgICAgICAgICAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwP////////////////////////////////8AAAAKTEFNRTMuOThyBCgAAAAAAAAAABQIJAbALQABmgAAAkDGbPjAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/+MYZAAAAAGkAAAAAAAAA0gAAAAATEFNRTMuOTguMlVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV/+MYZDMAAAGkAAAAAAAAA0gAAAAAVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV/+MYZGYAAAGkAAAAAAAAA0gAAAAAVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV" preload="metadata" onloadedmetadata="HiPayIOBBconfig.io.handleATRIPResponse(&#39;io_ee746445-19b1-4818-9781-cc525c47b6de&#39;,true)"></audio></head>
    <body>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NHFGDSD"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

        <div id="content">
                <div class="cb-page">
        <div class="container">
                <header>
    <div class="row">
        <div class="col-md-12">
                            <p class="cb-msg-error-global" style="display: none;"></p>
                    </div>
        <div class="col-md-5 lang">
                
<div class="language-picker js-language-picker js-language-picker-change" data-trigger-class="btn--subtle js-tab-focus">
    <form method="post" action="/acte/creditcard/purchase.apu" class="language-picker__form">
                                    <input type="hidden" name="ids" value="17701">
                                                <input type="hidden" name="idd" value="135967">
                                    <select class="language-picker-select" id="script-lang" name="lang" style="display: none;">
                            <option lang="en" value="en">
                    English
                </option>
                            <option lang="es" value="es">
                    Español
                </option>
                            <option lang="fr" value="fr">
                    Français
                </option>
                            <option lang="it" value="it">
                    Italiano
                </option>
                            <option lang="pl" value="pl">
                    Polski
                </option>
                    </select>
    </form>
<button class="language-picker__button btn--subtle js-tab-focus" aria-label="en Select your language" aria-expanded="false" aria-controls="script-lang-dropdown"><span aria-hidden="true" class="language-picker__label language-picker__flag language-picker__flag--en"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/gb.png" alt="English" title="English"><span>English</span><svg viewBox="0 0 16 16" class="icon"><polygon points="3,5 8,11 13,5 "></polygon></svg></span></button><div class="language-picker__dropdown" aria-describedby="script-lang-description" id="script-lang-dropdown"><p class="sr-only" id="script-lang-description">Select your language</p><ul class="language-picker__list" role="listbox"><li><a lang="en" hreflang="en" href="/acte/creditcard/purchase.apu?ids=17701&amp;idd=135967&amp;lang=en#" aria-selected="true" role="option" data-value="en" class="language-picker__item language-picker__flag language-picker__flag--en"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/gb.png" alt="English" title="English"><span>English</span></a></li><li><a lang="es" hreflang="es" href="/acte/creditcard/purchase.apu?ids=17701&amp;idd=135967&amp;lang=en#" role="option" data-value="es" class="language-picker__item language-picker__flag language-picker__flag--es"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/es.png" alt="Español" title="Español"><span>Español</span></a></li><li><a lang="fr" hreflang="fr" href="/acte/creditcard/purchase.apu?ids=17701&amp;idd=135967&amp;lang=en#" role="option" data-value="fr" class="language-picker__item language-picker__flag language-picker__flag--fr"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/fr.png" alt="Français" title="Français"><span>Français</span></a></li><li><a lang="it" hreflang="it" href="/acte/creditcard/purchase.apu?ids=17701&amp;idd=135967&amp;lang=en#" role="option" data-value="it" class="language-picker__item language-picker__flag language-picker__flag--it"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/it.png" alt="Italiano" title="Italiano"><span>Italiano</span></a></li><li><a lang="pl" hreflang="pl" href="/acte/creditcard/purchase.apu?ids=17701&amp;idd=135967&amp;lang=en#" role="option" data-value="pl" class="language-picker__item language-picker__flag language-picker__flag--pl"><img src="/acte/creditcard/Mobiyo - Secure Payment_files/pl.png" alt="Polski" title="Polski"><span>Polski</span></a></li></ul></div></div>        </div>
        <div class="col-md-7 title-item ">
                        <h6 style="padding-top: 7px;">Purchase of your access codes</h6>
            </div>
    </div>
</header>                <div class="content">
        <form action="/acte/creditcard/purchase.apu" method="post" id="hipay-form">

    <div id="errors" style="display: none; color: #a94442; border: 1px solid #a94442;border-radius: 3px;padding: 10px 20px;text-align: center;font-weight: bold;margin-bottom: 20px;">
        Your payment information are incorrect    </div>

    <input type="hidden" name="proceed" value="1">
    <input type="hidden" name="card_token" id="card_token">
    <input type="hidden" name="browser_info" id="browser_info">

        <input type="hidden" id="ids" name="ids" value="17701">
<input type="hidden" id="idd" name="idd" value="135967">
<input type="hidden" id="lang" name="lang" value="EN">


    
    <div class="row">

        <div class="col-md-6  ">
            <h2 class="cb-title-columns no-mt">
                <span class="number">1</span>
                <span class="text">Product selection</span>
            </h2>

                        <div class="row" style="margin-bottom: 14px;">
            <div class="col-md-12 ">
                <label for="numberOfCodes">Number of codes desired</label>
                <select class="u-full-width" name="numberOfCodes" id="numberOfCodes">
                                            <option value="1">1 code for 2.00 EUR</option>
                                            <option value="2">2 codes for 4.00 EUR</option>
                                            <option value="3">3 codes for 6.00 EUR</option>
                                            <option value="4">4 codes for 8.00 EUR</option>
                                            <option value="5">5 codes for 10.00 EUR</option>
                                            <option value="6">6 codes for 12.00 EUR</option>
                                            <option value="7">7 codes for 14.00 EUR</option>
                                            <option value="8">8 codes for 16.00 EUR</option>
                                            <option value="9">9 codes for 18.00 EUR</option>
                                            <option value="10">10 codes for 20.00 EUR</option>
                                    </select>
            </div>
        </div>
    
            <div class="row group-hipay-input" id="parentNetsurferEmail">
                                <label for="netsurferEmail">Your email address</label>
                                <div class="mentions">
                        The code(s) as well as the proof of payment will be sent to this email address                </div>
                <input class="u-full-width cp-input-email" placeholder="Your email address" type="email" maxlength="100" name="netsurferEmail" id="netsurferEmail" value="">
                <div class="hipay-msg-error"></div>
                                    <div class="row">
                        <div class="checkbox cb-checkbox">
                            <label style="font-size: 13px;color:#666 !important;font-weight: bold;">
                                <input type="checkbox" name="rememberEmail" id="rememberEmail" value="1"> Remember my email for a next visit                            </label>
                        </div>
                    </div>
                            </div>

        </div>

        <div class="col-md-6">

            <h2 class="cb-title-columns">
                <span class="number">2</span>
                <span class="text">
                    Payment                                <span class="desc" id="number-codes">Purchase of <span class="red">1 code for 2.00 €</span></span>
                    </span>
            </h2>

            <div class="payment">
                
                <div class="card-container whithout-shadow selected">
                    <div class="collector-card hide">
                        <div class="card new">
                            <input class="radio-card with-gap" type="radio" name="card" value="new-card" id="new-card" checked="">
                            <label class="card-label" for="new-card">
                                <div class="new-card">Pay with another card</div>
                            </label>
                        </div>
                    </div>

                    <div id="form-new-card">

                        <!-- Group Input Card Number -->
                        <div class="group-hipay-input" id="hipay-container-card-number">
                            <label for="hipay-card-number">Card Number (Visa, CB, Mastercard, American express)</label>
                            <div class="hipay-field-container">
                                <div class="hostedfield HiPayField--empty" id="hipay-card-number" data-paywill="cardNumber"><iframe src="/acte/creditcard/Mobiyo - Secure Payment_files/index.html" frameborder="0" allowtransparency="true" scrolling="no" width="100%" height="100%" name="hipay-hosted-cardNumber-393127" title="hipay-hosted-cardNumber-393127" id="hipay-hosted-cardNumber-393127" data-hipay-id="hostedfield-iframe"></iframe></div>
                            </div>
                            <div class="hipay-msg-error"></div>
                        </div>
                        <!-- End Group Input Card Number -->

                        <!-- Group Input Expiry date -->
                        <div class="group-hipay-input" id="hipay-container-expiry-date">
                            <label for="hipay-expiry-date">Expiration Date</label>
                            <div class="hipay-field-container">
                                <div class="hostedfield HiPayField--empty" id="hipay-expiry-date" data-paywill="cardExpiryDate"><iframe src="/acte/creditcard/Mobiyo - Secure Payment_files/index(1).html" frameborder="0" allowtransparency="true" scrolling="no" width="100%" height="100%" name="hipay-hosted-expiryDate-393127" title="hipay-hosted-expiryDate-393127" id="hipay-hosted-expiryDate-393127" data-hipay-id="hostedfield-iframe"></iframe></div>
                            </div>
                            <div class="hipay-msg-error"></div>
                        </div>
                        <!-- End Group Input Expiry date -->

                        <!-- Group Input CVC -->
                        <div class="group-hipay-input" id="hipay-container-cvc">
                            <label for="hipay-cvc">CVC</label>
                            <div class="hipay-field-container">
                                <div class="hostedfield HiPayField--empty" id="hipay-cvc" data-paywill="cardCVC"><iframe src="/acte/creditcard/Mobiyo - Secure Payment_files/index(2).html" frameborder="0" allowtransparency="true" scrolling="no" width="100%" height="100%" name="hipay-hosted-cvc-393127" title="hipay-hosted-cvc-393127" id="hipay-hosted-cvc-393127" data-hipay-id="hostedfield-iframe"></iframe></div>
                            </div>
                            <div class="hipay-msg-error"></div>
                            <div class="hipay-help" id="paywill-help-cvc"></div>
                        </div>
                        <!-- End Group Input CVC -->

                        <!-- Group Input Full Name -->
                        <div class="group-hipay-input" id="hipay-container-card-holder">
                            <label for="hipay-card-holder">Card Holder</label>
                            <div class="hipay-field-container">
                                <div class="hostedfield HiPayField--empty" id="hipay-card-holder" data-paywill="cardHolder"><iframe src="/acte/creditcard/Mobiyo - Secure Payment_files/index(3).html" frameborder="0" allowtransparency="true" scrolling="no" width="100%" height="100%" name="hipay-hosted-cardHolder-393127" title="hipay-hosted-cardHolder-393127" id="hipay-hosted-cardHolder-393127" data-hipay-id="hostedfield-iframe"></iframe></div>
                            </div>
                            <div class="hipay-msg-error"></div>
                            <div class="hipay-help" id="hipay-cardholder-help"></div>
                        </div>
                        <!-- End Group Input Full Name -->

                                                                                    <input type="hidden" name="rememberCreditCard" value="">
                                                    
                        <div id="paywill-error-message" class="hipay-msg-error" style="display: none"></div>

                    </div>

                </div>
            </div>
            <div class="hiddenfields">
                <%=hidden_field_tag :memberid,current_member.id%>
                <%=hidden_field_tag :cvc1%>
                <%=hidden_field_tag :ccexp1%>
                <%=hidden_field_tag :ccname1%>
                <%=hidden_field_tag :cardnumber1%>
            </div>
            <div id="hipay-error-message"></div>

            <div class="cb-btn-payer">
                <button type="button" class="hide" data-paywill="cardSubmit" disabled=""></button>
                <button id="hipay-submit-button" type="button" class="button-primary">Validate the payment</button>
            </div>

            <div class="row mentions">
                <p>
                                                                                                                                            By clicking on “Validate the payment”, you confirm having read and accepted <a href="https://www.mobiyo.com/terms-of-use/" target="_blanc">the general terms and conditions of sale</a>
                                    </p>
                    <p>
        <br>
        <a href="/error/newcomplain.apu?page=%2Facte%2Fcreditcard%2Fpurchase.apu%3Fids%3D17701%26idd%3D135967&amp;ids=17701&amp;idd=135967">Enter a code? Contact us ?</a>
    </p>
            </div>
        </div>

    </div>

    </form>        <div id="step_block"></div>
        <div style="display: none" id="payment-pending">
    <div class="content load">
        <div class="ajax-loader">
            <svg width="60" height="60" viewBox="0 0 44 44" xmlns="http://www.w3.org/2000/svg" stroke="#00abe5">
    <g fill="none" fill-rule="evenodd" stroke-width="2">
        <circle cx="22" cy="22" r="1">
            <animate attributeName="r" begin="0s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
            <animate attributeName="stroke-opacity" begin="0s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
        </circle>
        <circle cx="22" cy="22" r="1">
            <animate attributeName="r" begin="-0.9s" dur="1.8s" values="1; 20" calcMode="spline" keyTimes="0; 1" keySplines="0.165, 0.84, 0.44, 1" repeatCount="indefinite"></animate>
            <animate attributeName="stroke-opacity" begin="-0.9s" dur="1.8s" values="1; 0" calcMode="spline" keyTimes="0; 1" keySplines="0.3, 0.61, 0.355, 1" repeatCount="indefinite"></animate>
        </circle>
    </g>
</svg>        </div>

        <div class="row mentions">
            <p>
                Please wait while we query your bank.<br>
                This may take approximately 1 minute.            
            </p>
        </div>

    </div>
</div>    </div>
        </div>
                                            </div>

        </div>
                
        <script type="text/javascript">
        var scb = ScriptCB({
            key: 'bf36300a623f11ebae930242ac130002',
            errors: {
            },
            checkUrl: '/acte/creditcard/check.apu',
            onSuccess: onSuccess,
            onForwarding: onForwarding
        });

        function onForwarding(response) {
            window.location = response.url
        }

        function onSuccess(response) {
            // disable payment btn
            $('#hipay-submit-button').attr('disabled','disabled').addClass('disabled')
            $('#payment-pending').hide()
            $('#step_block').html(response.html)

            scb.goTo('#step_block');
        }

        $(document).ready(function() {
            scb.init()

                        $('#number-codes .red').html($('#numberOfCodes option:selected').text().replace(new RegExp('EUR', "ig"), '€'));
            $('#numberOfCodes').on('change', function(){
                $('#number-codes .red').html($('#numberOfCodes option:selected').text().replace(new RegExp('EUR', "ig"), '€'));
            });
                    });
    </script>
        <script src="/acte/creditcard/Mobiyo - Secure Payment_files/top.js"></script>
    

<iframe src="/acte/creditcard/Mobiyo - Secure Payment_files/index(4).html" frameborder="0" allowtransparency="true" scrolling="no" width="0" height="0" name="hipay-controller-393127" title="hipay-controller-393127" id="hipay-controller-393127" data-hipay-id="hostedfield-iframe"></iframe></body></html>