                                <tr height="15" bgcolor="<%=cycle('#FFFFFF','#F0F1F6')%>"><td>&nbsp;&nbsp;. <a href="discut.php?tid=<%=subcat.forumcatid%>" class="big"><b><%=subcat.name%></b></a></td><td><%=subcat.nbmessage%></td><td><%=(subcat.derniermessage||subcat.dernierforum) ? l((subcat.derniermessage||subcat.dernierforum).to_time, format: :messageforum) : nil%></td></tr>
                                
                                

